---
layout: default
---
<!--- internal styling bc styling in external css not working for some reason --->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
            <h1>About Us</h1>
        </div>
    </div>
</div>
<div>
    <div class="text-center">
        <p style="font-size: 15px;">
            Keep Austin Hacking is a student led non-profit organization that aims to provide a platform for students to learn and share knowledge in the field of software development through open semi-competitive settings.
        </p>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
            <h2>
                Meet the Team
            </h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <!-- <div class="card">
            <img class="card-img-top" src="/images/placeholder.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/placeholder.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/placeholder.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/placeholder.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/placeholder.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> -->
        {% include card.html imgsrc="./images/placeholder.png" title="Jadon Lee" maintext="lorem ipsum dolar sit imit blah blah my name is jadon" btnlink="#" btntext="linkedin" %}
        {% include card.html imgsrc="./images/placeholder.png" title="Jadon Lee" maintext="lorem ipsum dolar sit imit blah blah my name is jadon" btnlink="#" btntext="linkedin" %}
        {% include card.html imgsrc="./images/placeholder.png" title="Jadon Lee" maintext="lorem ipsum dolar sit imit blah blah my name is jadon" btnlink="#" btntext="linkedin" %}
        {% include card.html imgsrc="./images/placeholder.png" title="Jadon Lee" maintext="lorem ipsum dolar sit imit blah blah my name is jadon" btnlink="#" btntext="linkedin" %}
        {% include card.html imgsrc="./images/placeholder.png" title="Jadon Lee" maintext="lorem ipsum dolar sit imit blah blah my name is jadon" btnlink="#" btntext="linkedin" %}

    </div>
</div>


<style>
    .card {
        width: 17%;
        margin: 0.5rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: #a4deb3;
        border-radius: 4px;
        display: inline-block
    }

    .card .card-img-top {
        width: 100%;
        height: auto;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    .card .card-body {
        padding: 1rem;
        text-align: center;
    }

    .container {
        text-align: center;
    }
</style>