<div class="topnav">
    <a class="brand" href="/">Keep Austin Hacking</a>
    <a class="logo-link" href="/">
        <img src="/images/logo.png" alt="Keep Austin Hacking Logo" class="logo">
    </a>
    <a class="active" href="/">Home</a>
    <a href="/sponsor">Sponsor</a>
    <a href="https://forms.gle/nyCzznPVF7niiQMb9" target="_blank">Participate</a>
    <a href="mailto:keepaustinhacking@gmail.com">Contact Us</a>
</div>
<div class="nav-spacer">
</div>

<style>
    
.topnav {
    position: fixed;
  background-color: #0f2c34;
  overflow: hidden;
  width: 100%;
  height: 60px;
  z-index: 1;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
  transition: all 0.3s ease-in-out;
}

.topnav a:active {
  background-color: #29d674;
  color: #f2f2f2;
  transition: all 0.1s ease-in-out;
}

.topnav .brand {
    float: left;
    font-size: 20px;
    color: #f2f2f2;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: inline;
}

.topnav .brand:hover {
    color: #29d674;
    background-color: #0f2c34;
    transition: all 0.3s ease-in-out;
}

.logo {
    width: 55px;
    height: 40px;
    top: 50%;
    vertical-align: middle;
}

.logo:hover {
    background-color: #0f2c34
}

.topnav .logo-link:hover {
    background-color: #0f2c34
}

.nav-spacer {
    height: 60px;
    width: 100%;
}
</style>